[submodule "WebApps"]
	path = WebApps
	url = https://github.com/DevDaza/WebApps
[submodule "Database"]
	path = Database
	url = https://github.com/DevDaza/Database
[submodule "CSharp"]
	path = CSharp
	url = https://github.com/DevDaza/CSharp
[submodule "ProgressABL"]
	path = ProgressABL
	url = https://github.com/DevDaza/ProgressABL
